<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>单文件上传</title>
</head>
<body>
<form method="post" action="/contracts/create" enctype="multipart/form-data">
    文件：<input type="file" name="file"><br>
    标题：<input type="text" name="title"><br>
    乙方姓名：<input type="text" name="partBName"><br>
    乙方证件号：<input type="text" name="partBIDCard"><br>
    <input type="submit" value="提交">
</form>
</body>
</html>
